# Question 2 and 3

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
path = r'C:\Users\Valens\Documents\Python Anaconda\Instacart Basket Analysis'

In [4]:
#export the merged file in pickle
df_ords_combined = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

# Question 4

In [5]:
#check the imported data fram of orders
df_ords_combined.shape

(32434489, 12)

In [6]:
df_prod_clean = pd.read_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'),index_col = False)

In [7]:
#check the imported data from product csv
df_prod_clean.shape

(49672, 6)

In [8]:
df_ords_combined.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,0.0,196,1,0,both
1,0,2539329,1,prior,1,2,8,0.0,14084,2,0,both
2,0,2539329,1,prior,1,2,8,0.0,12427,3,0,both
3,0,2539329,1,prior,1,2,8,0.0,26088,4,0,both
4,0,2539329,1,prior,1,2,8,0.0,26405,5,0,both

In [9]:
df_prod_clean.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

# question 5 & 6

In [10]:
# merging from 2 data fram products and order
df_merged_prods_order_inner = df_prod_clean.merge(df_ords_combined, on = 'product_id', how = 'inner',indicator='exists')

In [11]:
#counting the merge flag with exist. since we can't use indicators = true because it's already included in the data we have to use indicator exist. 
df_merged_prods_order_inner['exists'].value_counts()

both          32404859
left_only            0
right_only           0
Name: exists, dtype: int64

In [12]:
# to confirm the results of the merge flag using outer
df_merged_prods_order_outer = df_prod_clean.merge(df_ords_combined, on = 'product_id', how = 'outer',indicator='exists')

In [13]:
df_merged_prods_order_outer['exists'].value_counts()

both          32404859
right_only       30200
left_only           11
Name: exists, dtype: int64

# base on the result above it doesn't seem that they have full match

In [14]:
df_merged_prods_order_outer

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,exists
0,0.0,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,1987.0,3139998.0,138.0,prior,28.0,6.0,11.0,3.0,5.0,0.0,both,both
1,0.0,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,1989.0,1977647.0,138.0,prior,30.0,6.0,17.0,20.0,1.0,1.0,both,both
2,0.0,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,11433.0,389851.0,709.0,prior,2.0,0.0,21.0,6.0,20.0,0.0,both,both
3,0.0,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,12198.0,652770.0,764.0,prior,1.0,3.0,13.0,0.0,10.0,0.0,both,both
4,0.0,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,12200.0,1813452.0,764.0,prior,3.0,4.0,17.0,9.0,11.0,1.0,both,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32435065,NaN,69,NaN,NaN,NaN,NaN,2979541.0,1514902.0,179816.0,prior,4.0,5.0,20.0,5.0,11.0,1.0,both,right_only
32435066,NaN,69,NaN,NaN,NaN,NaN,2979542.0,3287190.0,179816.0,prior,5.0,6.0,13.0,8.0,4.0,1.0,both,right_only
32435067,NaN,69,NaN,NaN,NaN,NaN,2979545.0,2943026.0,179816.0,prior,8.0,0.0,15.0,10.0,14.0,1.0,both,right_only
32435068,NaN,69,NaN,NaN,NaN,NaN,2979552.0,2108832.0,179816.0,prior,15.0,2.0,13.0,6.0,12.0,1.0,both,right_only
32435069,NaN,69,NaN,NaN,NaN,NaN,3365289.0,1077336.0,202849.0,prior,52.0,1.0,11.0,5.0,27.0,0.0,both,right_only

# Question 7

In [15]:
#exporting the new combined data
df_merged_prods_order_inner.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))